* {
    margin: 0 0;
    padding: 0 0;
}

.github-card {
    width: 600px;
    height: 250px;

    background-color: #0d1017;

    border: 1px solid #31363c;
    border-radius: 10px;

    color: white;
    font-family: Arial;
    
    display: grid;
    grid-template-columns: .75fr 1fr;
    
    position: relative;
    overflow: hidden;
    user-select: none;
    -webkit-user-drag: none;

    .github-card-img {
        width: 250px;
        height: 250px;
    }

    .github-card-data {
        padding: 20px 10px;

        position: relative;
    }

    .github-card-data-name {
        font-weight: bold;
        font-size: 40px;
        color: #c9d2d9;
    }

    .github-card-data-user {
        color: #4078c0;
        width: max-content;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
    
    .github-card-follow-btn {
        padding: 5px 40px;
        
        border: none;
        outline: none;
        border-radius: 5px;
        
        background-color: #21262c;
        color: white;
        border: 1px solid #363b41;
        
        display: flex;
        flex-direction: row;
        
        position: absolute;
        
        top: 90%;
        left: 90%;
        
        transform: translate(-80%, -55%);
        transition: 200ms;
        
        i {
            margin-right: 5px;
        }
        
        &:hover {
            background-color: #2b323a;
            border: 1px solid #586069;
        }
    }

    .github-card-data-row {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        .github-card-data-text {
            color: #8894a0;
            margin-right: 10px;

            .github-card-data-data {
                color: #bdd4e5;
                font-weight: bold;
            }
        }

    }

    .github-card-data-bio {
        width: 300px;

        overflow: hidden;
        text-overflow: ellipsis;

        font-size: 15px;
        margin-top: 10px;
        color: #c9d2d9;

        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}